* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
  }
  
  .wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #02160b;
  }
  
  .bcgimage{
    width: 100%;
    height: 790px;
    width: 1400px;
    background-image:url("Rectangle.png");
  }
  .header {
    display: flex;
    justify-content: space-around;
  }
  
  .menu{
    text-decoration: none;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
  }
  .sign{
    display: flex;
    justify-content: space-around;
  }
  
  .link{
    text-decoration: none;
    color: white;
  }
  
  .links{
    display: inline-block;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .hl{
    display: flex;
  }
  
  .hr{
    display: flex;
    
  }
  
  .logo{
    display: flex;
    align-items: center;
    width: 170px;
    height: 60px;
    justify-content: space-around;
  }
  
  .links_block{
    display: flex;
    width: 580px;
    
    justify-content: space-around;
  }
  
  button {
    height: 50px;
    width: 120px;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: Transparent;
    color: white;
  }
  
  .hr2{
    display: flex;
    
  }
  
  .link:hover{
    background-color: #FF9900;   
    border-radius: 4px;
    color:white;
    font-size: 30px;
    transition: 0.7s;
  }
  
  .links:active{
    transform:scaleX(-1);
    transition: 0.1s;
  }
  
  .search-icon:hover{
    transform: rotate(720deg);
    transition: 0.7s;
  }
  
  .menu__links:hover{
    transform: translateY(10px);
    transition: 0.8s;
  }
  
  
  .search-icon{
    filter: invert(1);
  }
  
  
  .survival{
    display: flex;
    align-items: flex-end;
    height: 460px;
    width: 395px;
    justify-content: flex-end;
  }
  .survival__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    width: 195px;
    height: 340px;
   
  }
  
  .title{
    color: rgba(205, 99, 38, 1);
    width: 199px;
  }
  
  .text{
    color: white;
    height: 143px;
    width: 349px;
    font-family: Open Sans;
    font-size: 23px;
    text-align: justify;
  }
  
  .donate:hover{
    transform: rotate(720deg);
    transition: 0.7s;
    transform: scale(-1);
  }
  
  .donate:active{
    transform:scaleX(-1);
    transition: 0.1s;
  }
  
  .left{
    
    width: 240px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Donate{
    width: 160px;
    
  }
  
  .donate{
    font-size: 35px;
    width: 200px;
    background: rgba(205, 99, 38, 1);
  }